.navbar {
    font-size: var(--font-size-medium);
    color: var(--text-color-secondary);
    width: 100%;
}

.navbar .navbar-brand {
    font-size: var(--font-size-large);
    color: var(--text-color-primary);
}

.navbar .navbar-brand span {
    color: var(--accent-color-primary);
}

.navbar .logo {
    height: 32px;
    width: 32px;
    padding: 2px;
    margin-right: 10px;
}

.navbar-list {
    color: var(--text-color-secondary);
    margin-left: auto;
}

.nav-item {
    padding: 10px;
}

.navbar .container-fluid {
    padding: 0.2rem 2rem;
}

.nav-link {
    color: var(--text-color-secondary) !important;
    font-weight: 500;
    padding: 0 1.7rem;
}

.navbar-nav .nav-item a.active {
    color: var(--accent-color-primary) !important;
}

.nav-item a:hover {
    color: var(--accent-color-primary) !important;
}

.action-btn {
    margin: 0 6px;
    display: inline-block;
}

@media(prefers-color-scheme:dark) {
    .navbar .logo {
        filter: invert(100%);
    }
    .navbar-toggler-icon {
        filter: invert(1);
    }
    .navbar-toggler {
        border-color: var(--background-color-secondary);
    }
    .navbar-nav .nav-item a.active,
    .nav-item a:hover {
        color: var(--accent-color-secondary);
    }
}

@media screen and (min-width: 1300px) {
    .navbar {
        font-size: 24px;
    }
}